---
import "../styles/global.css";
import NormalArea from "../components/NormalArea";
import ThreeBlock from "../components/ThreeBlock";
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Benchmark</title>
    </head>
    <body>
        <NormalArea client:load />
        <ThreeBlock client:load />
    </body>
</html>
